<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>DocNet UI</title>
  <meta name="description" content="Classify document images">
  <meta name="author" content="Nauman Mustafa">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/css/mdb.min.css" rel="stylesheet">

</head>
<body>

    <div class="container">
        <h2 class="my-5 mx-lg-5">
            <strong>DocNet</strong>
        </h2>
        <div class="px-lg-5 pt-0">
            <form class="md-form" style="color: #757575;" method="post" action="/create">
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" name="image"
                      aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose an image</label>
                  </div>
                </div>
                <br>
                <div class="d-flex justify-content-end">
                    <button class="btn aqua-gradient" type="submit" id='btn-submit'>Classify</button>
                </div>
            </form>
        </div>
        <br>
        <div>
          <div >
            <ul class="list-group" id="queue">
            </ul>
          </div>
            <hr>
          <div class="d-flex justify-content-center" >
            <img width="600" src="">
          </div>
        </div>
        <hr>
        <p>Made by <a href="https://github.com/NaxAlpha">Nauman Mustafa</a> | Contact: <a href="mailto:nauman.mustafa.x@gmail.com">nauman.mustafa.x@gmail.com</a></p>
    </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/js/mdb.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
